# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# Platform
android/.gradle/
android/local.properties
ios/Pods/
ios/Podfile.lock
ios/.symlinks/

# macOS
.DS_Store

# IDE / tools
devtools_options.yaml
